h1{
    color: rgb(238, 23, 148);
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 50px;
}
h6{
    color: gray;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 50px;
}
p{
    margin-left: 50px;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
