*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(238, 23, 148);
}

h5{
    color: rgb(183, 175, 175);
}
p{
    color:black;
}

/* Nav */
.navbar {
    background-color: #9AE9E3;
}
.home-page {
    background-color: #9AE9E3;
}
.home-contact-btn {
    padding: 3px;
    background-color: #deffff;
    border-radius: 5px;
}
.img-home {
    z-index: -3;
}